{% extends "login.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style>
    .container {
        max-width: 1000px;
    }

    .ex2 {
        display: inline;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 53%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -ms-transform: translateX(-90%);
        transform: translateX(-90%);
    }




    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 20px;
        height: 100%;
    }

    /* Clear floats after the columns */
    .row:after {
        display: table;
        clear: both;
    }
</style>

{% endblock %}
{% block content %}

    <div class="row group">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="column new_div">
                <br />
                <br />
                <br />
                <br />
                <h5 style="display: inline-block">Your Address:</h5>
                {{form.address(class = "ex2")}}
            </div>
            <div class="column new_div">
                <br />
                <br />
                <br />
                <br />
                <h5 style="display: inline-block">
                    Item:
                </h5>
                {{form.item_option(class = "badge ex2")}}

            </div>

    </div>
    <div class="vertical-center">
        {{ form.submit(class="btn darken-2 z-depth-0") }}
    </div>
    </form>

    {% endblock %}


