{% extends "login.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style>
    .list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
</style>

{% endblock %}
{% block content %}


<h4>Stores Near You: </h4>
<h6>Item Selected: {{selected_item_name}}</h6>
<form method="POST">
    <ul class="list-inline">
    {% for key,value in radio.items() %}
    {% if status_values[key] != 0 %}

    <li>
        <label class=".row">
            <input class=".row"  name="options" type="radio" value="{{ key }}" checked  />
            <span>{{ value }}</span>
        </label>
    </li>
    
    
    {% else %}
    <li>
        <label>
            <input name="options" type="radio" value="{{ key }}"  />
            <span>{{ value }}</span>
        </label>
    </li>
    <br />

    {% endif %}
    {%for i in range(0, status_values[key])%}
    {% if selected_item_index == 1 %}
    <img src="static\tp.png" width="20" height="20">
    {% elif selected_item_index == 2%}
    <img src="static\hand_sanitizer.png" width="20" height="20">
    {% endif %}
    {% endfor %}

    {% if status_values[key] != 0 %}

    <br />

    {% endif %}

    {% endfor %}
        </ul>
    <p>{{ form.submit(class="btn darken-2 z-depth-0") }}</p>
</form>


    {% endblock %}



